<div class="title-project">
	<h1>
		Mes Projets
	</h1>
</div>
<div class="list-projects">
	<div class="row">
		<div class="card text-white bg-secondary mb-3" style="max-width: 18rem; margin-right: 5rem;">
			<div class="project-card-hearder">
				<img class="icon" src={{asset('images/disk.svg')}} class="rounded mx-auto d-block" alt="...">
				<div class="link-project">
					<a href="https://github.com/MrMarrant/SCP-235"><img class="github" src={{asset('images/github-mark.svg')}} class="rounded mx-auto d-block" alt="..."></a>
					<a href="https://steamcommunity.com/sharedfiles/filedetails/?id=2980228292"><img class="steam" src={{asset('images/steam.png')}} class="rounded mx-auto d-block" alt="..."></a>
				</div>
			</div>
			<div class="card-body">
				<h4 class="card-title">SCP-235</h5>
				<p class="card-text">SCP-235 appear to be shellac phonograph records of the type commonly produced in the late 1920s.
										Each record contains a different song.
										Its main effect is to stop in time all nearby entities whenever the record "skips".</p>
			</div>
			<div class="card-footer">
				<p class="project-text-footer">Lua</p>
			</div>
		</div>
		<div class="card text-white bg-secondary mb-3" style="max-width: 18rem; margin-right: 5rem;">
			<div class="project-card-hearder">
				<img class="icon" src={{asset('images/portfolio.svg')}} class="rounded mx-auto d-block" alt="...">
				<div class="link-project">
					<a href="https://github.com/MrMarrant/mrmarrant_website"><img class="github" src={{asset('images/github-mark.svg')}} class="rounded mx-auto d-block" alt="..."></a>
				</div>
			</div>
			<div class="card-body">
				<h4 class="card-title">Portfolio</h5>
				<p class="card-text">Web site realized in PHP in order to display my various contacts and realized projects.
					I use the symfony framework, it is obvious that I could have realized this website without using the language and the framework, but I intend in a near future to use it for other features.</p>
			</div>
			<div class="card-footer">
				<p class="project-text-footer">PHP Symfony</p>
			</div>
		</div>
	</div>
</div>