<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
				Projet {{ query.name }}
			{% endblock %}
		</title>
		<link
		rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('project') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('project') }}
		{% endblock %}
	</head>
	<body>
		{% block body %}
		<a href="/portfolio"><img class="home" src={{asset('images/home.svg')}} class="rounded mx-auto d-block" alt="..."></a>
		<section>
			{% include '/project/header.html.twig' %}
		</section>
		<section>
			{% include '/project/description.html.twig' %}
		</section>
		{% endblock %}
		<img id="arrow" src={{asset('images/arrow.svg')}} class="rounded mx-auto d-block" alt="...">
	</body>
</html>
